<!doctype html>
	<head>
		{% block htmlHeader -%}
			<title>{% block title -%}{% endblock title %}</title>
			{% block stylesheets -%}
			{% endblock stylesheets %}
		{% endblock htmlHeader %}
	</head>
	<body>
		{% block body -%}
		{% endblock body %}
		{% block javascripts -%}
		{% endblock javascripts %}
	</body>
</html>
